<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Screenshot</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="app" class="app"></div>
    <script type="module">
      import { renderScreenshot } from "/viteshot-virtual/render-screenshot/{{screenshot.id}}";
      import messages from "/viteshot-virtual/messages/{{locale.id}}";

      renderScreenshot(app, messages);
    </script>
  </body>
</html>
